/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
   $roboto-font-path: "../bower_components/Materialize/font/roboto/";
   $icons-font-path: "../bower_components/Materialize/font/material-design-icons/";
// bower:scss
// endbower
body {
    @extend .blue-grey, .darken-3;
}

.yoothub-navbar{
    @extend .blue-grey;
}


.song-card-title{
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 20px !important;
    
}

.pagination li a{
    
    @extend .white-text;
}

.pagination li.disabled a {
    @extend .grey-text;
}

.pagination li.active {
    @extend .green, .lighten-2;
}

.center {
    margin: auto;
}
     

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
