/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
   
// bower:scss
// endbower

.main-content{
    min-height: 100%;
}

md-card-title{
    max-width: 100%;
}

md-card-title-text{
    max-width: 100%;
    overflow: hidden;
}

.song-title-button{
    font-size: 18px;
    margin: 0;
    text-transform: none;
    max-width: 100%;
}

.upvoted{
    color: #259b24;
}

.downvoted{
    color:#f44336;
}

.vertical-middle{
    vertical-align: middle;
}

.song-card-icon-actions{
    &:first-child{
        margin-left: 15px;
    }
    div{
        margin-right: 15px;
    }
}

.md-chips .md-chip-input-container input{
    color: white;    
} 

md-card{
    background: rgba(96,125,139,0.2);
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
