<ul class="pagination white-text">
    <li ng-class="{disabled: !vm.hasPrevious, 'waves-effect': vm.hasPrevious}" ><a ui-sref="browse({ page: vm.page-1})" ng-disabled="!vm.hasPrevious"><i class="material-icons">chevron_left</i></a></li>
    <li ng-repeat="refData in vm.refDataList" ng-class="{disabled: refData.url=='#', active: refData.page==vm.page, 'waves-effect': refData.url!='#'&&refData.page!=vm.page}"><a ui-sref="{{::refData.ref}}">{{::refData.page}}</a></li>
    <li ng-class="{disabled: !vm.hasNext, 'waves-effect': vm.hasNext}" ><a ui-sref="browse({ page: vm.page+1})" ng-disabled="!vm.hasNext"><i class="material-icons">chevron_right</i></a></li>
</ul>