<div class="row">
    <div flex="70" flex-offset="15">
        <div ng-bind-template="Tytuł: {{playerController.song.Song.Title}}"></div>
        <div ng-bind-template="Dodał(a): {{playerController.song.Song.AddedByName}}"></div>
        <div ng-bind-template="Odtworzeń: {{playerController.song.Song.TimesPlayed}}"></div>
        <div ng-bind-template="Głosy: {{playerController.song.Song.Votes}}"></div>
        <md-button class="md-icon-button" ng-click="vm.upvote(playerController.song)" ng-class="{upvoted: playerController.song.CurrentVote == 'Upvote'}"><i class="material-icons left">thumb_up</i></md-button>
        <md-button class="md-icon-button" ng-click="vm.downvote(playerController.song)" ng-class="{downvoted: playerController.song.CurrentVote == 'Downvote'}"><i class="material-icons left">thumb_down</i></amd-button>
    </div>
</div>