<div>
    <div class="row">
        <div class="input-field col l10 offset-l1 white-text">
            <input id="search" type="text" ng-model="vm.search" ng-change="vm.onSearchChanged()" ng-model-options="{ debounce: 1000 }">
            <label for="search">Search</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <yt-pagination class="center" pagination-data="vm.paginationData" />
        </div>
    </div>
    <div class="row">
        <div class="col l10 offset-l1 cards-container">
            <div ng-repeat="song in vm.songs" class=" card hoverable">
                <div class="card-image">
                    <img ng-src="http://img.youtube.com/vi/{{ ::song.Song.SongId }}/hqdefault.jpg" />
                    <a ng-href="https://www.youtube.com/watch?v={{ ::song.Song.SongId }}" class="card-title song-card-title">{{ ::song.Song.Title }}</a>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col"><i class="tiny material-icons middle">replay</i> <span class="middle">{{::song.Song.TimesPlayed}}</span></div>
                        <div class="col"><i class="tiny material-icons middle">thumbs_up_down</i> <span class="middle">{{song.Song.Votes}}</span></div>
                        <div class="col"><i class="tiny material-icons middle">perm_identity</i><span class="middle">{{::song.Song.AddedByName}}</span></div>
                    </div>
                    <div class="chip" ng-repeat="tag in song.Song.Tags">{{::tag}}</div>
                </div>
                <div class="card-action">
                    <a href="" ng-click="vm.upvote(song)" ng-class="{upvoted: song.CurrentVote == 'Upvote'}"><i class="material-icons left">thumb_up</i></a>
                    <a href="" ng-click="vm.downvote(song)" ng-class="{downvoted: song.CurrentVote == 'Downvote'}" ><i class="material-icons left">thumb_down</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <yt-pagination class="center" pagination-data="vm.paginationData" />
        </div>
    </div>
</div>