<div class="row" flex-gt-sm="80" flex-offset-gt-sm="10">
    <form name="form">

        <md-input-container class="md-block" flex-gt-sm>
            <label>YouTube Url</label>
            <input required ng-pattern="/^(?:https?://)?(?:www\.)(?:youtube\.com|youtu\.be)?/watch\?v=([^&]+)$/" name="URL" ng-model="vm.model.URL">
            <div ng-messages="form.URL.$error" role="alert" class="error-text">
                <div ng-message="required">To pole jest wymagane.</div>
                <div ng-message="pattern">
                    Niepoprawny url
                </div>
                <div ng-message="server">
                    <div ng-repeat="error in vm.errors.URL">
                        {{error}}
                    </div>
                </div>
            </div>
        </md-input-container>


        <md-chips name="Tags" ng-model="vm.model.Tags" placeholder="Wprowadź tag" delete-button-label="Usuń"></md-chips>
        <div ng-messages="form.Tags.$error" role="alert" class="error-text col s12">
            <div ng-message="server">{{vm.errors.Tags}}</div>
        </div>

        <md-button class="md-raised md-primary" ng-click="vm.postSong()">Dodaj!</md-button>

    </form>
</div>